<h1>Gianpaul's Real Reviews</h1> 
<h3>Where restaurant reviews aren't written by a bunch of robots.</h3>

How would you like to get started?<br>
<%= link_to 'Sign In' %><br>
<%= link_to 'Sign Up' %><br>
<%= link_to 'Write a Review' %><br>
<%= link_to 'Find A Restaurant' %><br>
